# used car price prediction
## 1)problem statement
#### this dataset comprises used cars sold on cardehko.com in india as well as important features of these cars.
#### if user can predict the price of the car based on input features
#### prediction results can be used to give new seller the price suggestion based on market condition


## 2)Data collection.
#### the dataset is collected from scrapping from cardheko website
#### the data consists of 13 columns and 15411 rows.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
df=pd.read_csv("cardekho_dataset.csv",index_col=[0])

In [4]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

# Data Cleaning
## Handling Missing values

##### handling missing values
##### handling duplicates
##### check data type
##### understand the dataset

In [5]:
##check null values
##check features with nan values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
##remove unneccessary columns
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [8]:
##Getting All Different Types of Features
num_features=[feature for feature in df.columns if df[feature].dtype!='O']
print('num of numerical Features :',len(num_features))
cat_features=[feature for feature in df.columns if df[feature].dtype=='O']
print('num of categorical Features :',len(cat_features))
discrete_features=[features for features in num_features if len(df[features].unique())<=25]
print("num of discreate features :",len(discrete_features))
continuous_features=[features for features in num_features if features not in discrete_features]
print("num of continous features :",len(continuous_features))

num of numerical Features : 7
num of categorical Features : 4
num of discreate features : 2
num of continous features : 5

In [9]:
## independent and depedent features
from sklearn.model_selection import train_test_split
x=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [10]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

# feature Encoding and Scaling
## one hot encoding  for columns which had lesser unique values and not oridinal
#### one hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job prediction.

In [11]:
len(df['model'].unique())

120

In [12]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x['model']=le.fit_transform(x['model'])

In [14]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [15]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [16]:
## create column Transformer with 3 types of transformers
num_features=x.select_dtypes(exclude='object').columns
onehot_columns=['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first',sparse_output=False)

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [17]:

x= preprocessor.fit_transform(x)

In [18]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape,x_test.shape

((12328, 14), (3083, 14))

In [20]:
x_train

array([[ 0.        ,  0.        ,  1.        , ...,  1.75390551,
         2.66249771, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55087963,
        -0.38602844, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.89033072,
         3.27453006, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]], shape=(12328, 14))

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [22]:
def evaluate_models(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    r2_square=r2_score(true,predicted)
    return mae,rmse,r2_square

In [23]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "Random forest regressor":RandomForestRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor(),
    "gradient boost regressor":GradientBoostingRegressor()}

In [24]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)#train model

    #Make Prediction
    y_train_pred=model.predict(x_train)
    y_test_pred=model.predict(x_test)

    model_train_mae,model_train_rmse,model_train_r2=evaluate_models(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2=evaluate_models(y_test,y_test_pred)

    print(list(models.keys())[i])

    print("model performance for training set")
    print("accuracy:{:.4F}".format(model_train_rmse))
    print("f1 score:{:.4f}".format(model_train_mae))
    print("precision:{:.4F}".format(model_train_r2))
    print('----------------------------------------------------')
    print("model performance for test set")
    print("accuracy:{:.4F}".format(model_test_rmse))
    print("f1 score:{:.4f}".format(model_test_mae))
    print("precision:{:.4F}".format(model_test_r2))
    print('----------------------------------------------------')

Linear Regression
model performance for training set
accuracy:553855.6665
f1 score:268101.6071
precision:0.6218
----------------------------------------------------
model performance for test set
accuracy:502543.5930
f1 score:279618.5794
precision:0.6645
----------------------------------------------------
Lasso
model performance for training set
accuracy:553855.6710
f1 score:268099.2226
precision:0.6218
----------------------------------------------------
model performance for test set
accuracy:502542.6696
f1 score:279614.7461
precision:0.6645
----------------------------------------------------
Ridge
model performance for training set
accuracy:553856.3160
f1 score:268059.8015
precision:0.6218
----------------------------------------------------
model performance for test set
accuracy:502533.8230
f1 score:279557.2169
precision:0.6645
----------------------------------------------------
K-Neighbors Regressor
model performance for training set
accuracy:325873.0088
f1 score:91425.4705
precision:0.8691
----------------------------------------------------
model performance for test set
accuracy:253024.3951
f1 score:112526.3461
precision:0.9150
----------------------------------------------------
DecisionTreeRegressor
model performance for training set
accuracy:20797.2352
f1 score:5164.8199
precision:0.9995
----------------------------------------------------
model performance for test set
accuracy:301268.0995
f1 score:123905.1168
precision:0.8794
----------------------------------------------------
Random forest regressor
model performance for training set
accuracy:128294.4429
f1 score:39821.6809
precision:0.9797
----------------------------------------------------
model performance for test set
accuracy:231583.9792
f1 score:102406.2449
precision:0.9288
----------------------------------------------------
AdaBoostRegressor
model performance for training set
accuracy:447072.7459
f1 score:342177.3206
precision:0.7536
----------------------------------------------------
model performance for test set
accuracy:469969.6499
f1 score:356693.8599
precision:0.7066
----------------------------------------------------
gradient boost regressor
model performance for training set
accuracy:204944.5104
f1 score:111709.5558
precision:0.9482
----------------------------------------------------
model performance for test set
accuracy:254374.4854
f1 score:126181.5444
precision:0.9140
----------------------------------------------------

In [32]:
gradient_param={"loss":['huber',"squared_error","absoulte_error"],
                "criterion":["friedman_mse",'squared_error','mse'],
                "min_samples_split":[2,8,15,20],
                "n_estimators":[100,200,500,1000],
                "max_depth":[5,8,15,None,10],
                "learning_rate":[0.1,0.01,0.02,0.03]
}
rf_params={"max_depth":[5,8,15,None,10],
           "max_features":[5,7,'auto',8],
           "min_samples_split":[2,8,15,28],
           "n_estimators":[100,200,500,1000]}

In [33]:
randomcv_models=[('gradient',GradientBoostingRegressor(),gradient_param),
                 ('RF',RandomForestRegressor(),rf_params)]

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(x_train,y_train)
    model_param[name]=random.best_params_
for model_name in model_param:
    print(f"-------Best params for{model_name}-----------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [ ]:
models={
    "random forest regressor":RandomForestRegressor(n_estimators=100,min_samples_split=2,max_features='auto',max_deapth=None,n_jobd=-1),
    "gradient regressor":GradientBoostingRegressor(loss='huber',
                criterion='mse',
                min_samples_split=8,
                n_estimators=200,
                max_depth=10)
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)#train model

    #Make Prediction
    y_train_pred=model.predict(x_train)
    y_test_pred=model.predict(x_test)

    model_train_mae,model_train_rmse,model_train_r2=evaluate_models(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2=evaluate_models(y_test,y_test_pred)

    print(list(models.keys())[i])

    print("model performance for training set")
    print("accuracy:{:.4F}".format(model_train_rmse))
    print("f1 score:{:.4f}".format(model_train_mae))
    print("precision:{:.4F}".format(model_train_r2))
    print('----------------------------------------------------')
    print("model performance for test set")
    print("accuracy:{:.4F}".format(model_test_rmse))
    print("f1 score:{:.4f}".format(model_test_mae))
    print("precision:{:.4F}".format(model_test_r2))
    print('----------------------------------------------------')